* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-color: #126ebf #5190c8;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 24px;
  background-color: #5190c8;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 830px;
  min-width: 300px;
  margin: 10px auto;
  padding: 10px;
}

#editor-section {
  margin: 0 auto;
  border: 1px solid #000000;
}

.top-bar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  background-color: #126ebf
}

.top-bar-left {
  display: flex;
}

i {
  font-size: 20px;
}

.fa-expand, .fa-compress {
  cursor: pointer;
}

.fa-keyboard::after {
  content: ' Editor';
  font-family: sans-serif;
  font-size: 19.2px;
  font-weight: 600;
}

textarea {
  width: 100%;
  min-height: 250px;
  margin-bottom: -6px;
  resize: vertical;
  outline: none;
  padding: 5px;
  font-family: monospace;
  font-size: 16px;
  background-color: #8fb8dc;
}

#previewer-section {
  margin: 10px auto 0;
  min-height: calc(100vh - 350px);
  overflow-wrap: break-word;
  background-color: #8fb8dc;
  border: 1px solid #000000;
}

.fa-display::after {
  content: ' Previewer';
  font-family: sans-serif;
  font-size: 19.2px;
  font-weight: 600;
}
